import React, {useRef} from 'react';
import './%%upperComponentName%%.less';

interface IProps {
  className?: string
}

const componentName = "%%upperComponentName%%";

/**
 * @name %%upperComponentName%%
 */
function %%upperComponentName%% (props: IProps) {

  // get root ref
  const rootRef = useRef<HTMLDivElement>(null);

  return <div ref={rootRef} className={componentName}>
      {componentName}
  </div>
}

export default %%upperComponentName%%
