import React, {useRef,forwardRef} from 'react';
import './%%upperComponentName%%.less';

interface IProps {
  className?: string
}

const componentName = "%%upperComponentName%%";

/**
 * @name %%upperComponentName%%
 */
const %%upperComponentName%% = forwardRef((props: IProps)=> {

  // get root ref
  const rootRef = useRef<HTMLDivElement>(null);

  return <div ref={rootRef} className={componentName}>
      {componentName}
  </div>
});

export default %%upperComponentName%%
